@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: Lora-Italic;
    font-style: italic;
    font-weight: 200 700;
    font-display: swap;
    src: url("/src/assets/fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Lora;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/src/assets/fonts//Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat-Italic;
    font-style: italic;
    font-weight: 200 700;
    font-display: swap;
    src: url("/src/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/src/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@theme{
    --font-Lora-italic: 'Lora-Italic', 'sans-serif';
    --font-Lora: 'Lora', 'sans-serif';

    --font-Montserrat-Italic: 'Montserrat-Italic', 'sans-serif';
    --font-Montserrat: 'Montserrat', 'sans-serif';
}