---
import Layout from "../layouts/Layout.astro";
import Header from '../components/header-footer/1-Header.astro';
import Cursos from '../components/escuela/curso.astro';
import Footer from '../components/header-footer/5-Footer.astro';
import "../styles/global.css";
---

<Layout>
    <header>
		<Header />
	</header>
    <main>
		<section>
			<Cursos />
		</section>
	</main>
    <footer id="contacto">
		<Footer />
	</footer>    
</Layout>