---
import Layout from "../layouts/Layout.astro";
import Header from '../components/header-footer/1-Header.astro';
import Peinados from '../components/peinados/TPeinados.astro';
import Footer from '../components/header-footer/5-Footer.astro';
import "../styles/global.css";
---

<Layout>
    <header>
		<Header />
	</header>
    <main>
		<section>
			<Peinados />
		</section>
	</main>
    <footer>
		<Footer />
	</footer>    
</Layout>