<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link rel="shortcut icon" href="/public/faviconr.png" type="image/x-icon">
	<link
		rel="stylesheet"
		href="/src/assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css"
	/>
	<meta name="generator" content={Astro.generator} />
	<title>AlmaStudio</title>
</head>
<body>
	<body class="font-Lora">
		<slot />
	</body>	
</body>
</html>